<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Host" value="secure.emailsrvr.com"/>
    <add key="Port" value="465"/>
    <add key="SSL" value="true"/>
    <add key="FromEmail" value="smtp@crosstrainerlearning.com"/>
    <add key="Username" value="smtp@crosstrainerlearning.com"/>
    <add key="Password" value="^4|;s-%:01.-8XF"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
      <add name="connectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Oscar Arango\source\repos\FirstConsoleProject\ConsoleWebAPI\api.mdf;Integrated Security=True;Connect Timeout=30"/>
    </connectionStrings>
</configuration>