<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Host" value="secure.emailsrvr.com"/>
    <add key="Port" value="465"/>
    <add key="SSL" value="true"/>
    <add key="FromEmail" value="smtp@crosstrainerlearning.com"/>
    <add key="Username" value="smtp@crosstrainerlearning.com"/>
    <add key="Password" value="^4|;s-%:01.-8XF"/>
  </appSettings>
</configuration>